.App {
  background: rgb(246,164,202);
background: linear-gradient(138deg, rgb(203, 203, 203) 0%, rgb(26, 26, 26) 100%);
  border-radius: 20px;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
}

.App h2 {
  color: #b72468;
  font-size: 2rem;
  margin-top: 0px;
}

.App p{
  color: #16003B;
  margin: 0;
}

.App p:last-of-type{
  margin: 10px 0 30px;
}

.die {
  background-color: #d2d4d5;
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #413F42;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
  cursor: pointer;
  display: grid;
  grid-template-areas:
        "a . c"
        "e g f"
        "d . b";
  align-items: center;
}

#dice {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 3rem;
}

.pip {
  display: block;
	align-self: center;
	justify-self: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:#16003B;
  box-shadow: inset 0 0 2px #d2d4d5;
}

.pip:nth-child(2) {
  grid-area: b;
}
.pip:nth-child(3) {
  grid-area: c;
}
.pip:nth-child(4) {
  grid-area: d;
}
.pip:nth-child(5) {
  grid-area: e;
}
.pip:nth-child(6) {
  grid-area: f;
}
.pip:nth-child(odd):last-child {
  grid-area: g;
}

#rollBtn {
  background-color: #16003B;
  color: white;
  padding: 12px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #16003B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.413);
}

#rollBtn:hover {
  background-color: #413F42;
}

.isHeld{
  background-color: #b72468;
}
